*{
    box-sizing: border-box;
}
.search_bar{
    padding:5px;
    border-radius:2px;
    width:100%;
    margin: 0 auto;
    display: block;
}
.video-list{
    margin:10px 0px;
}
.video-item{
    margin:4px 0px;
    padding:4px 0px;
    height:300px;
}